td {
	text-align: center;
	border-color: black;
}

th {
	border-color: black;
}

#na {
	background-color: red;
}

#rock5 {
	color: red;
	border-color: black;
}

#wol4 {
	color: red;
	border-color: black;
}

#wol6 {
	color: red;
	border-color: black;
}

#wol7 {
	color: red;
	border-color: black;
}

#wol8 {
	color: red;
	border-color: black;
}

#wol9 {
	color: red;
	border-color: black;
}

#wol10 {
	color: red;
	border-color: black;
}

#bull8 {
	color: red;
	border-color: black;
}

#bull9 {
	color: red;
	border-color: black;
}

#bull10 {
	color: red;
	border-color: black;
}

#bull11 {
	color: red;
	border-color: black;
}

#noCalc {
	background-color: yellow;
	border-color: black;
}

